logs
project/project
project/target
target
tmp
.history
dist
application.conf
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/.ensime
/.ensime_lucene
/.ensime_session
/activator*
